---
name: hacker-news
url: /hacker-news
animationIn: hingeInFromLeft
---
<div zf-panel position="left" id="info" zf-swipe-close="left" class="fast bounceInOut small-12 large-3 large-grid-content">
  <div class="grid-content">
    <h1>Hacker News</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est.</p>
  </div>
</div>
<div class="small-12 large-9 grid-content feeds">
  <div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
        <a class="button expand" href="#">View</a>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <h4>This is a title</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
  </div>
</div>